@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
html,body {
  font-family: "Dosis", sans-serif;
  width: 100%;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  overflow-x: hidden;
  color: #10a19d;
  max-width: 1440px;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: "Satisfy", cursive;
  font-weight: 500;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: "Dosis", sans-serif;
}

button:focus {
  outline: none;
}
